/*Cdocs-nw // cdocs_nw_estilos.css - Hoja de Estilos CSS 3. Versión 0.1.0. Edición/revisión: 31/01/2016. Foog.Software. Licencia MIT. */

*{outline:0}


html, body{	  
	-webkit-user-select: none;
	font-size:12px;
	cursor:default;
	color: #666666;
	background-color:#E0E0E0;
	font-family:"Nimbus Sans L", "URW Gothic L", Verdana, Tahoma, Helvetica, "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif; 
	font-weight: bold;
	overflow: hidden;
}

input[type="text"]{
	float:left;
	width:54px;
	height:18px;
	border: 3px solid  #999;
	border-radius: 6px;
	background-color: #fff;
	color: #000033;
	font-weight:bold;
	font-size:16px;
	padding-left:2px;
}


input[type="text"].columna78{
	width:78% !important;
}

input[type="text"].columna88{
	width:88% !important;
}

input[type="text"].columna92{
	width:92% !important;
}

input[type="text"].columna97{
	width:97% !important;
}

::-webkit-input-placeholder{
	line-height: 16px;
	text-align:center;
	font-size:8px;
}

select{
	float:left;
	width:98%;
	height:20px;
	background-color: inherit;
	color: #000033;
	font-size:14px;
}

select.tipo-nif{
	font-size:13px;	
}

select.tipo-dni{
	font-size:13px;	
	color: #989898;
	background-color:inherit;
}

table{
	width: 96%;
	border-spacing: 1px;
	border-collapse: initial;
	margin:auto;
}

td.porcentaje4{
	width:4%;
}
td.porcentaje6{
	width:6%;
}

td.porcentaje10{
	width:10%;
}

td.porcentaje12{
	width:12%;
}

td.porcentaje14{
	width:14%;
}

td.porcentaje16{
	width:16%;
}

td.porcentaje20{
	width:20%;	
}

td.porcentaje24{
	width:24%;
	text-align: right;
	padding-right:6px;
}

td.porcentaje24-l{
	width:24%;
}

td.porcentaje26{
	width:26%;
}

td.porcentaje28{
	width:28%;
}

td.porcentaje32{
	width:32%;
}
td.porcentaje40{
	width:40%;
}

td.porcentaje42{
	width:42%;
}
td.porcentaje50{
	width:50%;
}
td.porcentaje56{
	width:56%;
}
td.porcentaje60{
	width:60%;
}
td.porcentaje64{
	width:64%;
}

td.porcentaje74{
	width:74%;
}
td.porcentaje80{
	width:80%;
}
td.porcentaje90{
	width:90%;
}
td.porcentaje94{
	width:94%;
}
td.selector{
	border: 3px solid  #999;
	border-radius: 6px;
	background-color: #fff;
	color: #000033;
}

ul.cabecera{
	margin-top:2px;
}

ul.intermedia{
	margin-top:26px;
}

a.enlaceTexto:link, a.enlaceTexto:active, a.enlaceTexto:visited{text-decoration:underline;color:#000066;background-color:inherit;}
a.enlaceTexto:hover{text-decoration:none;color:#0000FF;background-color:inherit;}
a.enlaceTexto:active{cursor:default;}
a.enlaceInterno:link, a.enlaceInterno:active, a.enlaceInterno:visited{text-decoration:underline;color:#000033;background-color:inherit;}
a.enlaceInterno:hover{text-decoration:none;color:#000000;background-color:inherit;}
a.enlaceInterno:active{cursor:default;}

#protector{
	position:absolute;
	top:0;
	left: 0;
	width:1px;
	height:1px;
	color: #666666;
	background-color:#E0E0E0;
	opacity:0.1;
	cursor:default;
	z-index:1;
}
#cabecera{
	position:absolute;
	top:2px;
	left: 9px;
	width:616px;
	height:22px;
	background-color:inherit;
	color:inherit;
}
#captura{
	float:left;
	width:534px;
	height:22px;
	visibility: hidden;	
}
#captura-imagen{
	float:left;
	width:24px;
	height:22px;
	margin-right:12px;
}
#captura-imagen-camera{
	width:24px;
	height:22px;
	opacity:0.69;
}
#captura-texto{
	float:left;
	width:auto;
	max-width:500px;
	height:18px;
	margin-top:4px;	
	color:#808080;
	background-color:inherit;
}
#advertencia-salida{
	width: 338px;
	height: 162px; 
	padding:0;
	overflow: hidden;
	border: 1px solid  #aeb6bf;
	box-shadow: 4px 4px 5px 0px rgba(77,77,77,1);
	color: #666666;
	background-color: #F2F3F4;
	opacity:1;	
}
#advertencia-salida-cabecera{
	float:left;
	width:338px;
	height:32px;
	color: #000000;
	background-color:#FFFFFF;
}
#advertencia-salida-cabecera-texto{
	float:left;
	width:236px;
	height:32px;
	text-align:center;
	margin-left:50px;
	font-size:14px;
	line-height: 28px;
	color:#191919;
	background-color:inherit;	
}

#advertencia-salida-cabecera-cierre{
	float:right;
	width:50px;
	height:32px;
	cursor:pointer;
	text-align:center;
	font-size:22px;
	color:#0D0D0D;
	background-color:inherit;		
}
#advertencia-salida-cabecera-cierre:hover{
	color:#FFFFFF;
	background-color:#999999;	
}
#advertencia-salida-imagen{
	float:left;
	width:48px;
	height:126px;
	margin:1px;
	text-align:center;
}

#advertencia-salida-icono{
	margin-top:20px;
}
#advertencia-salida-cuerpo{
	float: right;
	width:286px;
	height:126px;
	margin:1px;	
}
#advertencia-salida-cuerpo-texto{
	float:left;
	width:286px;
	height:86px;
	border-bottom: 1px solid #D9D9D9;
	font-size:14px;
	text-align:center;	
}

#advertencia-salida-cuerpo-botonera{
	float:left;
	width:286px;
	height:36px;
	margin-top:2px;	
}
#advertencia-salida-botonera-pulsador-i{
	float:left;
	width:122px;
	height:26px;
	margin:4px 0 0 4px;
	font-size:14px;
	line-height: 28px;
	text-align:center;
	color:#0D0D0D;
	background-color:#fff;
	border: 1px solid #737373;
	border-radius:2px;	
	cursor:pointer;
}
#advertencia-salida-botonera-pulsador-i:hover{
	color:#FFFFFF;
	background-color:#999999;	
}

#advertencia-salida-botonera-pulsador-d{
	float:right;
	width:122px;
	height:26px;
	margin:4px 4px;
	text-align:center;
	font-size:14px;
	line-height: 28px;
	color:#0D0D0D;
	background-color:#fff;
	border: 1px solid #737373;
	border-radius:2px;
	cursor:pointer;	
}
#advertencia-salida-botonera-pulsador-d:hover{
	color:#FFFFFF;
	background-color:#999999;	
}
#advertencia-salida-botonera-pulsador-d.seleccionado{
	color:#FFFFFF;
	background-color:#999999;	
}
.interruptor {
	position: relative; width: 120px;
	margin:auto;
	-webkit-user-select:none; 
}
.interruptor-caja {
	display: none;
}
.interruptor-etiqueta {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
}


.interruptor-interior{
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}


.interruptor-interior:before, .interruptor-interior:after {
	display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
	font-size: 14px; color: white; font-weight: bold;
	box-sizing: border-box;
}
.interruptor-interior:before {
	content: "ACTIVO";
	padding-left: 8px;
	background-color: #404040; color: #FFFFFF;
}

.interruptor-interior:after {
	content: "INACTIVO";
	padding-right: 8px;
	background-color: #EEEEEE; color:#858585;
	text-align: right;
}
.interruptor-pulsar {
	display: block; width: 18px; margin: 1px;
	background: #FFFFFF; color:inherit;
	position: absolute; top: 0; bottom: 0;
	right: 96px;
	border: 2px solid #999999; border-radius: 20px;
	transition: all 0.3s ease-in 0s; 
}

.interruptor-caja:checked + .interruptor-etiqueta .interruptor-interior {
	margin-left: 0;
}
.interruptor-caja:checked + .interruptor-etiqueta .interruptor-pulsar {
	right: 0px; 
}

#continente{	
	position:absolute;
	left: 9px;
	bottom:9px;
	width:616px;
	height:322px;
	background-color:#F0F0F0;
	color:inherit;
	border: 1px solid #D8D8D8;
}

#margen{
	float:left;
	width:84px;
	height:322px;
	background-color:#A8A8A8;
	color:inherit;
	text-align:center;
}

#margen-logo{
	float:left;
	width:64px;
	height:64px;
	margin-left:10px;
	margin-top:10px;
}

#margen-inicio{
	float:left;
	width:84px;
	height:32px;
	max-height:32px;
	margin-top:194px !important;
	color:inherit;
	background-color:#909090;
	padding:0;
}

#contenido{
	float:left;
	width:526px;
	max-width:526px;
	height:264px;
	max-height:264px;
	padding:2px;	
}

#imagen-pre-carga{
	width:48px;
	height:48px;
	margin: 84px 0 0 214px;
}
#front-texto{
	float:left;
	width: 260px;
	height: 66px;
	margin:76px 0 0 130px;
	text-align:center;	
	font-size:64px;
	font-weight:bold;
	letter-spacing: -6px;
	color:#A8A8A8;
	background-color:inherit;	
	text-shadow: -1px 0 #909090, 0 1px #909090, 1px 0 #909090, 0 -1px #909090;	
}
#front-sonrisa{
	float:left;
	width: 260px;
	height: 66px;
	margin:0 0 0 130px;
	border:solid 4px #909090;
	border-color: transparent transparent #909090 transparent;
	border-radius: 0 0 130px 50%/33px;	
}
#verificado-ccc,
#verificado-cccss,
#verificado-ntc,
#verificado-naf,
#verificado-dni,
#verificado-nie,
#verificado-nif,
#verificado-iban,
#verificado-options{
	visibility:hidden;
}
#botonera{
	float:left;
	width:524px;
	max-width:524px;
	height:32px;
	max-height:32px;
	color:inherit;
	background-color:#A8A8A8;
}

#botonera-botones{
	float:right;
	width:auto;
	height:30px;
	max-height:30px;
	margin-right:10px;	
}

#about > p{
	padding-right:14px;	
}

#pie{
	float:left;
	width:526px;
	max-width:526px;
	height:12px;
	max-height:14px;
	margin-top:6px;
	text-align:center;
	font-size:9px;
	color: #666666;
	background-color:inherit;
	text-shadow: 0px 1px 1px #C8C8C8;
	visibility:hidden;
}



#ventana-errorPDF{
	font-size:14px;
	padding: 16px;
	
}
.enlaceReader{
	margin-top:6px;
	margin-bottom:6px;
}



.botones-activo, .botones-inactivo, .botones-oculto{
	float:left; 
	width: 74px;
	height:14px;
	max-width:74px;
	min-width:74px;
	min-height:12px;
	text-align: center;
	margin-left:4px;
	margin-top:3px;
}

#botones-inicio.botones-activo,
#botones-inicio.botones-inactivo{
	width: 58px;
	min-width:58px;
	max-width:58px;
}
 
#botones-inicio.botones-inactivo{
	background-color:#989898;
}

#botones-mnu.botones-activo,
#botones-mnu.botones-inactivo,
#botones-mnu.botones-oculto{
	float:right;
	width: 22px;
	min-width:22px;
	max-width:22px;
	height:18px;
	min-height:18px;
	max-height:18px;
} 

.botones-activo{
	box-shadow:inset 2px 1px 3px 0px #B0B0B0;
	background:linear-gradient(to bottom, #989898 5%, #686868 100%);
	background-color:#768d87;
	border-radius:4px;
	border:2px solid #686868;
	display:inline-block;
	cursor:pointer;
	color:#E0E0E0;
	font-size:9px;
	font-weight:bold;
	padding:4px 7px;
	text-decoration:none;
	text-shadow:0px -1px 0px #202020;
}

.botones-inactivo{
	border-radius:4px;
	display:inline-block;
	cursor:default;
	color:#D0D0D0;
	font-size:9px;
	font-weight:bold;
	padding:4px 7px;
	text-decoration:none;
	text-shadow:0px -1px 0px #808080;	
	background-color:#A6A6A2;
	border:2px solid #C0C0C0;
}
 
.botones-oculto{
	height:22px;
	color:#A8A8A8;
	background-image: url("../images/png/botones-fondo-transparente.png");
	background-size: 74px 22px;
	background-repeat: no-repeat;
	background-position: center;
	border:2px solid #A8A8A8;
	cursor:default;
}

#botones-inicio.botones-oculto{
	height:22px;
	color:#909090;
	background-image: url("../images/png/botones-fondo-transparente.png");
	background-size: 58px 22px;
	background-repeat: no-repeat;
	background-position: center;
	border:2px solid #909090;
	cursor:default;	
}

.botones-activo:hover{
	color:#FFFFFF;
	background:linear-gradient(to bottom, #686868 5%, #989898 100%);	
	background-color:#686868;
}

.botones-activo:active{
	position:relative;
	top:1px;
}

#botones-mnu.botones-activo,
#botones-mnu.botones-inactivo,
#botones-mnu.botones-oculto
{
	background: transparent;
	background-image: url("../images/png/barras-base.png");
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: right;
	margin-right:4px;
	cursor:pointer;	
	border:none;
	color:inherit;
	box-shadow:none;
}

#botones-mnu.botones-activo:hover{
	background-image: url("../images/png/barras.png");	
}

#botones-mnu.botones-inactivo{
	background-image: url("../images/png/barras-blanco.png");
	cursor:default;	
}

#botones-mnu.botones-oculto{
	background-image: url("../images/png/botones-fondo-transparente.png");
	cursor:default;	
}

.imagen-medio{
	vertical-align: middle;
}

.imagen14px{
	width:14px;
	height:14px;
	margin-right:2px;
}
.imagen16px{
	width:16px;
	height:16px;
}

.formulario{
	float:left;
	width:520px;
	max-width:520px;
	height:258px;
	max-height:258px;
	min-height:258px;
	padding:2px;	
}

.formulario-cabecera{
	float:left;
	width:520px;
	height:52px;
	min-height:52px;
	max-height:52px;
}
.formulario-entrada{
	float:left;
	width:520px;
	max-width:520px;
	margin-top:6px;
	height:56px;
	min-height: 56px;
	max-height: 56px;
}

.formulario-salida{
	float:left;
	width:98%;
	height: 110px;
	min-height: 110px;
	max-height: 110px;
	margin:4px 1% 2px 1%;
	min-height: 110px;
}

.formulario-salida-definiciones{
	float:left;
	width:99%;
	height: 50px;
	min-height: 50px;
	max-height: 50px;
	text-align: justify;
	margin-bottom:2px;
}

.formulario-salida-resultados, .formulario-salida-resultados-nif{
	float:left;
	width:99%;
	max-width:99%;
	height:52px;
	min-height:52px;
	max-height:52px;
	color:#404040;
	font-size:13px;
	text-align:center;
	background-color:inherit;
}

.formulario-salida-resultados-nif{
	text-align:justify;	
}

.separador {
	background: rgba(0, 0, 0, 0.6);
	height: 1px;
	width: 50%;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.formulario-alerta{
	float:left;
	width:520px;
	min-height: 22px;
	text-align: center;
	font-size:11px;
	margin-top:9px;
}

.alerta-imagen-error {
	width:18px;
	height:18px;
	display:inline-block;
	vertical-align: middle;
	margin-right:4px;
}

.alerta-imagen-info{
	width:14px;
	height:14px;
	display:inline-block;
	vertical-align: middle;
	margin-right:4px;
}

.alerta-texto-error{
	color:#AE0000;	
	background-color:inherit;	
}

.alerta-texto-error-dc{
	color:#990000;	
	background-color:inherit;
	font-size:14px;	
}

.alerta-texto-info{
	font-size:13px;
	color:#000;
	background-color:inherit;	
}

.verificado-imagen{
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align: middle;
	text-align:left;
}

.fila-portada{
	float:left;
	width:516px;
	height:30px;
	margin-top:2px;
}

.fila-portada-texto{
	float:left;
	width:auto;
	height:30px;
	margin-left:6px;
	line-height:26px;
}


.texto-capital{
	font-size:14px;
	font-weight:bold;
	color:#404040;
	background-color:inherit;	
}

.texto-centrado{
	text-align: center;
}

.texto-izquierda{
	text-align: left;
}
.texto-derecha{
	text-align: right;
}

.texto-informativo{
	font-weight:normal;
	font-size: 9px;
}

.texto-falsa-negrita{
	color:#404040;
	background-color:inherit;	
}

.texto-cursiva{
	font-style:  italic;
}

.texto-talla-s{
	font-size: small;
}

.texto-talla-xs{
	font-size: x-small;
}

.texto-talla-xxs{
	font-size: xx-small;
}

.texto-justificado{
	text-align:justify;
}
.texto-justificado-normal{
	text-align:justify;
	font-weight: normal
}
.texto-sombra{
	color: #666666;
	background-color:inherit;
	text-shadow: 0px 1px 1px #C8C8C8;
}
.texto-claro{
color: #858585;
background-color:inherit;	
}
.texto-code{
	font-family: monospace;
	font-style:normal;
	font-size:14px;
	line-height: 24px;
	color: #666666;
	background-color:inherit;
}
.errorAJAX{
	width:526px;
	height:240px;
	margin-top: 23px;
	text-align: center;
	font-size: 14px;
	color: #595959;
	background-color:inherit;
}

.desplazamientoVertical{
	overflow-y: scroll; 	
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


#update-progreso{
	float:left;
	width: 99%;
	display:block;
	-webkit-appearance: none;
	background-color: inherit;
	border-radius: 10px;
	padding:1px;
}

#update-progreso::-webkit-progress-bar {
	background-color: #D9D9D9;
	border-radius: 10px;
	padding:1px;
}

#update-progreso::-webkit-progress-value {
	border-radius: 10px;
	background-color:#004080;	
}
.update-progreso-procentaje{
	color:#004080;
	background-color:inherit;
}
#update-mensaje{
	float:left;
	width: 99%;
	height: 99%;
	resize: none;
	font-weight:normal;
	font-size:11px;
	color:#000000;
	background-color: inherit;
	border: none;
}
#alerta-error-carga-formulario{
	float:left;
	width: 99%;
	height: 78px;
	margin-top:12px;
	font-size:11px;
	text-align: center;
}

